body {
  background-color: orange;
  margin-top: 100px;
  margin-bottom: 60px;
  margin-right: 150px;
  margin-left: 150px;
}

h1 {
  color: navy;
  text-align: center;
  font-family: "verdana", serif;
}

h2  {
  text-align: center;
  color: gray;
}

ol  {
  text-align: center;
  color: gray;
}

dl  {
  text-align: center;
  color: black;
}

nav  {
  text-align: center;
}





